<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>{{WEBTITLE001}}</title>
</head>
<body>
    <div class="grid-2">
        <div class="section-1">
            <i class="fas fa-code fa-5x white"></i>
            <h2>{{INTRODUCTIONHEADER001}}</h2>
            <p>{{INTRODUCTIONHEADER002}}</p>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
        <div class="section-2">
            <h2>{{SUBHEADERTITLE001}}</h2>
            <p>{{SUBHEADERDESC001}}</p>
            <h2>{{SUBHEADERTITLE002}}</h2>
            <p>{{SUBHEADERDESC002}}</p>

            <h2>{{SUBHEADERTITLE003}}</h2>
            <p>{{SUBHEADERDESC003}}</p>
            <h2>{{SUBHEADERTITLE004}}</h2>
            <a href="#">{{PROJECTTITLE001}}</a>
            <a href="#">{{PROJECTTITLE002}}</a>
            <a href="#">{{PROJECTTITLE003}}</a>
            <a href="#">{{PROJECTTITLE004}}</a>
            <a href="#">{{PROJECTTITLE005}}</a>
            <h2>{{SUBHEADERTITLE005}}</h2>
            <p>{{SUBHEADERDESC005}}</p>
        </div>
    </div>
</body>
</html>